<!-- TODO: table styling -->
{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    <h1 style="text-align:center"> Калькулятор </h1>

    <h4 style="text-align:left">Договоры:</h4>
    
    {% for contract in contracts %}
        <div class="block">

            <div class="block2">
                <table>
                    <tr>
                        <td>Сумма договора</td>
                        <td> {{ contract['price'] }} </td>
                    </tr>
                    <tr>
                        <td>Дата завершения работ</td>
                        <td> {{ contract['date'] }}</td>
                    </tr>
                </table>
                <button class="download">Раскрыть детали договора</button>
            </div>

            <div class="block1">
                <table>
                    <tr>
                        <td>Номер договора:     </td>
                        <td>{{ contract['number'] }}</td>
                    </tr>
                    <tr>
                        <td>Предмет Договора:</td>
                        <td>{{ contract['subject'] }}</td>
                    </tr>
                </table>
            </div>

            
        </div>
        <br>
    {% endfor %}

{% endblock %}